/* MENU */
#menu {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul#topnav li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#menu>li:hover, #topnav li:hover {
  background: #64151e;
  color: #fff;
}

ul#topnav li ul {
  padding: 0;
  position: absolute;
  top: 46px;
  left: 0;
  width: 180px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  z-index:100;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul#topnav li ul li {
  background: #64151e;
  display: block;
  color: #fff;
  text-shadow: none;
  margin-bottom:0;
}
ul#topnav li ul li:hover { background: #901f2c; }
ul#topnav li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#menu-item-302:after{content:"\43"; font-family: 'ElegantIcons', sans-serif; color: #fff; font-size: 14px; padding: 0px 0px 0px 5px;}
#menu-item-303:after{content:"\43"; font-family: 'ElegantIcons', sans-serif; color: #fff; font-size: 14px; padding: 0px 0px 0px 5px;}


#topnav li,#topnav li:hover{background-image: url('../images/dash.png'); background-position:right center; background-repeat: no-repeat;}
#topnav li:last-child,#topnav li:hover:last-child{background-image:none;}
